version: '3'

services:

  server:
    build:
      context: ./docker/server/
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html/

  database:
    container_name: carrello_database
    build:
      context: ./docker/database
    ports:
      - "3333:3306"
    restart: always
    volumes:
      - ./data/mysql:/var/lib/mysql:delegated
      - ./logs/mysql:/var/logs/mysql:delegated
      - ./docker/mysql/dump:/docker-entrypoint-initdb.d:cached
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_ROOT_DATABASE: carrello
      MYSQL_USER: user
      MYSQL_PASSWORD: password

volumes:
  db-data:
